@model Gestor_Notas.Models.Sede

@{
    ViewData["Title"] = "Detalle de Sede";
}

<div class="orden">
    <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
</div>
<h1><center>Detalles de Sede</center></h1>
<hr />


<div>
   
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sede1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sede1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSede">Editar</a> 
</div>
