@model Gestor_Notas.Models.DetalleCurso

@{
    ViewData["Title"] = "Editar Nota";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="orden">
    <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
</div>

<h1><center>Editar Nota</center></h1>
<hr>
<div class="">
    <div class="">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDetalleCurso" />
           
            <div class="form-group col-md-3">
                <label asp-for="IdCurso" class="control-label"></label>
                <select asp-for="IdCurso" class="form-control" asp-items="ViewBag.IdCurso"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Estudiante" class="control-label"></label>
                <select asp-for="Estudiante" class="form-control" asp-items="ViewBag.Estudiante"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="PrimerParcial" class="control-label"></label>
                <input asp-for="PrimerParcial" class="form-control" />
                <span asp-validation-for="PrimerParcial" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="SegundoParcial" class="control-label"></label>
                <input asp-for="SegundoParcial" class="form-control" />
                <span asp-validation-for="SegundoParcial" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Actividades" class="control-label"></label>
                <input asp-for="Actividades" class="form-control" />
                <span asp-validation-for="Actividades" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="ProyectoFinal" class="control-label"></label>
                <input asp-for="ProyectoFinal" class="form-control" />
                <span asp-validation-for="ProyectoFinal" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Extraordinario" class="control-label"></label>
                <input asp-for="Extraordinario" class="form-control" />
                <span asp-validation-for="Extraordinario" class="text-danger"></span>
            </div>
           
            <div class="form-group col-md-3">
                <label asp-for="FechaIngresoNota" class="control-label"></label>
                <input asp-for="FechaIngresoNota" class="form-control" />
                <span asp-validation-for="FechaIngresoNota" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="FechaFinalizacion" class="control-label"></label>
                <input asp-for="FechaFinalizacion" class="form-control" />
                <span asp-validation-for="FechaFinalizacion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="NumeroActa" class="control-label"></label>
                <input asp-for="NumeroActa" class="form-control" />
                <span asp-validation-for="NumeroActa" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Año" class="control-label"></label>
                <input asp-for="Año" class="form-control" type="number" />
                <span asp-validation-for="Año" class="text-danger"></span>
            </div>
             <div class="form-group col-md-3">
                <div class="form-group form-check ">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>
            </div>
            <br>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
