@model Gestor_Notas.Models.EstudianteCarrera

@{
    ViewData["Title"] = "Editar Asignación";
}

<div class="orden">
    <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
</div>

<h1><center>Editar Asignación</center></h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEstu" />
            <div class="form-group">
                <label asp-for="IdCarrera" class="control-label"></label>
                <select asp-for="IdCarreraNavigation" class="form-control" asp-items="ViewBag.IdCarrera"></select>
                <span asp-validation-for="IdCarrera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estudiante" class="control-label"></label>
                <select asp-for="EstudianteNavigation" class="form-control" asp-items="ViewBag.Estudiante"></select>
                <span asp-validation-for="Estudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
