@model Gestor_Notas.Models.Entidad

@{
    ViewData["Title"] = "Eliminar Rol";
}

<div class="orden">
    <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
</div>

<h1><center>Eliminar Rol</center></h1>

<h3>Esta seguro de realizar esta acción?</h3>
<h5>Tenga en cuenta que si se ha generado algun formulario con este dato</h5>
<h5>no podra ser eliminado el campo.</h5>

<hr>
<div>
  
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRol" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
    </form>
</div>
