@model Gestor_Notas.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="orden">
    <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
</div>

<h1><center>Crear Nuevo Usuario</center></h1>

<hr>
<div class="">
    <div class="">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-3">
                <label asp-for="PrimerNombre" class="control-label"></label>
                <input asp-for="PrimerNombre" class="form-control" />
                <span asp-validation-for="PrimerNombre" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="SegundoNombre" class="control-label"></label>
                <input asp-for="SegundoNombre" class="form-control" />
                <span asp-validation-for="SegundoNombre" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TercerNombre" class="control-label"></label>
                <input asp-for="TercerNombre" class="form-control" />
                <span asp-validation-for="TercerNombre" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="PrimerApellido" class="control-label"></label>
                <input asp-for="PrimerApellido" class="form-control" />
                <span asp-validation-for="PrimerApellido" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="SegundoApellido" class="control-label"></label>
                <input asp-for="SegundoApellido" class="form-control" />
                <span asp-validation-for="SegundoApellido" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="NoIdentificacion" class="control-label"></label>
                <input asp-for="NoIdentificacion" class="form-control" />
                <span asp-validation-for="NoIdentificacion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Profesion" class="control-label"></label>
                <input asp-for="Profesion" class="form-control" />
                <span asp-validation-for="Profesion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Usuario1" class="control-label"></label>
                <input asp-for="Usuario1" class="form-control" />
                <span asp-validation-for="Usuario1" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IdRol" class="control-label"></label>
                <select asp-for="IdRol" class ="form-control" asp-items="ViewBag.IdRol"></select>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
