@model Gestor_Notas.Models.Carrera

@{
    ViewData["Title"] = "Detalles de Carrera";
}

<div class="orden">
    <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
</div>
<h1><center>Detalles de Carrera</center></h1>
<hr />

<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrera1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrera1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSedeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSedeNavigation.Sede1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCarrera" class="btn btn-secondary">Editar</a>
</div>
